/* $Id: main.css,v 1.1.4.4 2008/11/22 00:53:22 stevek Exp $
*/

/* GENERAL Styles */

body {
  background: #2f1d0f;
  /* background: #4c2e14; */
  color: #000;
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  /* font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif; */
  font-family: Arial, Helvetica, clean, sans-serif;
}

#page {
  font-size: 13px;
  line-height: 1.231em;
}

#header {
  background-color: #ddd;
  margin: 0;
}

#logo {
  float: right;
}

#site-name {
  font-family: "Georgia", "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

#site-name a {
  background: transparent url(../images/RoaLHeader.jpg) top left no-repeat;
  display: block;
  height: 0;
  padding-top: 150px;
  overflow: hidden;
}

/**
 *.not-front #site-name a {
 * background: transparent url(../images/RoaLHeader.jpg) 0 -165px no-repeat;
 * padding-top: 135px;
 *}
 */

#navigation {
  height: 20px;
  margin: 0 4em 0 0;
  padding: 4px 0;
}

#primary {
  /* float: right; */
}

#primary ul {
}

#primary li {
  padding: 4px 0;  
}

#primary a {
  background: #f5eef6 none repeat scroll 0 0;
  border-left: 1px solid #958D45;
  border-right: 1px solid #958D45;
  border-top: 1px solid #958D45;
  color: #966834;
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 2px;
  padding: 4px 8px;
  text-decoration: none;
}

#primary a:hover {
  background: #c0af84 none repeat scroll 0 0;
}

#primary a.active {
  color: #696639;
}

#main {
  background: #f8f8fa;
  border-top : 4px solid #958d45;
}

#content {
  font-size: 16px;
  line-height: 1.3em;
}

#content-area {
  margin: 0 3em;
}

#sidebar-left {
}

#sidebar-left-inner {
  background: #eee;
  margin: 4px;
  padding-bottom: 53px;
}

ul.secondary-links {
  padding: 0;
}

ul.secondary-links li {
  display: block;
}

#sidebar-right {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 0.7em;
}

#sidebar-right-inner {
  border-left : 1px solid #959a78;
}

#footer{
  background: #f8f8fa;
  border-top : 1px solid #a5b062;
  font-size: 85%;
  padding: 0 1em;
}

#footer a:link, #footer a:visited {
  color: #5e7d80;
}

/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */

a:link {
  color: #842;
  text-decoration:none;
}

a:visited {
  color: #864;
  text-decoration:none;
}

a:hover, a:active {
  color: #880;
  text-decoration:underline;
}

.inner{
  padding:10px;
}

.menu a {
  /* font-weight: bold; */
}

/* Titles  */

h1 {
  font-family: "Georgia", "Times New Roman", Times, serif;  
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0pt;
}

h2 {
  color: #6f321e;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 1.385em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h3 {
  color: #6f321e;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 1.15em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

/* Paragraph Styles */

.node p {
  margin: 1em 0;
}

/* List Styles  */

ul, ol {
  margin-left: 0;
  padding-left: 2em;
  margin: 1em 0;
}

ol.upper-alpha {list-style-type: upper-alpha; }
ol.lower-alpha {list-style-type: lower-alpha; }
ol.upper-roman {list-style-type: upper-roman; }
ol.lower-roman {list-style-type: lower-roman; }
ol.decimal {list-style-type: decimal; }

/* Table Styles  */

table {
  width: 99%;
}
tr.even td, tr.odd td {
  padding: 10px 5px;
}
tr.even {
  background-color: #F9F9F9;
}
tr.odd {
  background-color: #fff;
}

/* Code */

pre, code {
  background-color:#efefef;
  display:block;
  padding:5px;
  margin:5px 0;
  border:1px solid #aaa;
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */

abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}

/* User Interface Styles */

.resizable-textarea textarea {
  font-size:14px!important;
}

.messages {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #04a107;
  color: #04a107;
  background-color: #edffed;
}

form{
  margin:10px 0;
}

/* Rollover edit links for blocks */

div.block {
  position: relative;
}

div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}

div.block:hover div.edit {
  display: block;
}

div.field-field-image {
  float: right;
}

div.node-teaser div.field-field-blog-photo {
  float: left;
  margin-right: 1em;
}

.page-blog div.node-teaser div.content {
  font-size: 15px;
}

div.node ul.links {
  font-size: 12px;
}

div.node ul.links li {
  padding: 0 0.5em 0 0;
}


/* Cheesy hack. Fix this later. */

img.floatleft {
  float: left;
  margin: 0 2em 1em 0;
}
