
/**
 * Aggressive resets so we can achieve a consistent look in
 * hostile CSS environments.
 */
div.quickbar-links,
div#quickbar,
div#quickbar * {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:100%;
  vertical-align:baseline;
  line-height:inherit;
  text-align:left;
}

/**
 * Inline/contextual tools
 */
div.block,
div.node,
div.view,
div.view-data-node-body { position:relative; }

div.block div.view { position:static; }

div.admin-inline { display:none; }

div.quickbar-border {
  opacity:.25;
  position:absolute;
  left:-10px;
  right:-10px;
  top:-10px;
  bottom:-10px;
  height:10px;
  width:10px;
  background:#666;
  }

  div.quickbar-border-top {
    left:0px; right:0px;
    width:auto;
    bottom:auto;
    }

  div.quickbar-border-bottom {
    left:0px; right:0px;
    width:auto;
    top:auto;
    }

  div.quickbar-border-left {
    height:auto;
    right:auto;

    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius-:5px;
    }

  div.quickbar-border-right {
    height:auto;
    left:auto;

    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius-:5px;
    }

div.quickbar-links {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;

  font:normal 11px/20px "Lucida Grande",Verdana,sans-serif !important;
  background:#444 url(sprite.png) 0px -110px repeat-x !important;

  position:absolute;
  top:-25px;
  right:0px;

  z-index:100;
  height:25px;
  line-height:25px;
  overflow:hidden;
  }

  div.view:hover div.node div.quickbar-inline,
  div.block:hover div.node div.quickbar-inline { display:none; }

  div.view:hover div.node:hover div.quickbar-inline,
  div.block:hover div.node:hover div.quickbar-inline { display:block; }

  div.view:hover div.quickbar-inline,
  div.block:hover div.quickbar-inline,
  div.node:hover div.quickbar-inline { display:block; }

div.quickbar-links a,
div.quickbar-links a:hover {
  background-color:transparent !important;
  background-image:url(sprite.png);
  background-repeat:no-repeat;
  background-position:25px 25px;

  color:#fff !important;
  text-transform:none !important;
  font-weight:normal !important;
  font-style:normal !important;
  float:left !important;
  padding:0px 10px 0px 25px;
  line-height:25px !important;
  }

  div.quickbar-links a.icon-delete { background-position:-215px -155px; }
  div.quickbar-links a.icon-edit { background-position:-215px -180px; }
  div.quickbar-links a.icon-configure { background-position:-215px -205px; }

/**
 * Base styles
 */
div#quickbar {
  font:normal 11px/20px "Lucida Grande",Verdana,sans-serif;
  background:url(sprite.png) 0px -20px repeat-x;
  color:#ccc;
  position:relative;
  z-index:100;
  }

div#quickbar .collapsed { display:none; }

div#quickbar div.shadow {
  position:absolute;
  left:0px;
  right:0px;
  bottom:-10px;
  height:10px;

  background:url(sprite.png) 0px -100px repeat-x;
  }

div#quickbar a {
  text-decoration:none;
  color:#fff;
  }

div#quickbar ul.links li,
div#quickbar ul.links li a { float:left; }

/**
 * First level menus
 */
div#quickbar div.depth-0 {
  overflow:hidden;
  height:20px;
  line-height:20px;
  padding:5px 10px;
  }

div#quickbar div.depth-0 #quickbar-admin { float:left; }
div#quickbar div.depth-0 #quickbar-user { float:right; }

div#quickbar div.depth-0 ul.links li a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:0px 10px;
  }

div#quickbar div.depth-0 ul.links li a.active {
  text-shadow:#333 0px 1px 0px;
  background:url(sprite.png) 0px 0px repeat-x;
  }

div#quickbar div.depth-0 .icon {
  display: none;
}

/**
 * Second level menus
 */
div#quickbar div.depth-1 {
  position:relative;
  padding:0px 10px;
  }

div#quickbar div.depth-1 span.close {
  position:absolute;
  top:15px;
  right:10px;

  cursor:pointer;
  background:url(sprite.png) 0px -135px no-repeat;
  text-indent:-9999px;
  overflow:hidden;

  width:20px;
  height:20px;
  }

div#quickbar div.depth-1 ul.links {
  padding:5px 0px;
  height:40px;
  line-height:30px;
  overflow:hidden;
  float:left;
  }

div#quickbar div.depth-1 ul.links li.view-all {
  position:absolute;
  right:40px;
  top:5px;

  padding:10px 0px;
  margin:0px;
  }

  div#quickbar div.depth-1 ul.links li.view-all a.active,
  div#quickbar div.depth-1 ul.links li.view-all a {
    margin:0px;
    padding:0px 15px 0px 10px;

    font-size:9px;
    line-height:20px;
    text-transform:uppercase;

    background:#333 url(sprite.png) 100% -135px no-repeat;

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    }

div#quickbar div.depth-1 ul.links li a {
  padding:5px 10px 5px 5px;
  margin-right:5px;

  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

div#quickbar div.depth-1 ul.links li a.active {
  background-color:#333;
  }

div#quickbar div.depth-1 span.icon {
  float:left;

  width:30px;
  height:30px;
  margin-right:5px;
  }
